@import "tailwindcss";

:root {
  --blueColor: #89e3fa;
  --purpleColor: #5c0ac7;
}

@theme inline {
  --color-blue: var(--blueColor);
  --color-purple: var(--purpleColor);
  --font-inter: var(--font-inter);
}

